body {

    background-color:rgb(65, 64, 64);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color:rgb(51, 50, 50);
    text-shadow: 4px 4px 4px; 
}