
@media (max-width: 576px) {
  /* Styles pour les écrans "small" */
}
@media (min-width: 577px) and (max-width: 992px) {
  /* Styles pour les écrans "medium" */
}
@media (min-width: 993px) {
  /* Styles pour les écrans "large" */
}




body {
    text-align: center;
    background-color:#ac9b7b;
    
}

h1 { 
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 70px;
    color:rgb(51, 50, 50);
    text-shadow: 4px 4px 4px; 
}

h2 {
  color:#534f4f;
  text-shadow: 4px 4px 4px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align:center;
  display: flex;
  position: center;
  border-radius: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;




}


.jumbotron {
    margin-left: 2%;
    margin-top: 3%;
    height: 220%;
    width: 95%;
    padding: 10px;
    text-align: center;
    background-color:rgb(194, 189, 189);
    font-family: Dancing Script,cursive;
    font-weight: bold;
    box-shadow: 10px 10px 4px;
  }
  
  

  
  .footerContact {      /*page contact*/
    background-color:#050505;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
    
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  form {
    margin: 0 auto;
    max-width: 900px;
    
  }
  input, textarea  {
   
    width: 20%;
    padding: 15px 10px;
    margin: 15px 0;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 50px;
    
  }  


  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
  }




  
  #copyrightEtIcons {
   
    margin-bottom: 20px;
    padding: 0 10%;
    
  }
  #copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
    
  }

  .list-group {
    text-align: center;
    background-color: #0a0a0a;
    padding: 4% 4% 4% 4%;
    font-family: Dancing Script,cursive;
    width: 90%;
    margin-left: 5%;
    display: flex;
  }


  
.nav {

  font-family: Dancing Script,cursive;}
  
  button:hover {
    background-color: #c5a262;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .titre {
    text-shadow:6px 6px 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#0c0c0c;
    font-size:40px;
    margin-top: 110px;

  }
.parag {
  font-size: 30px;
  color:#0f0f0f;
  text-align: center;
  margin-top: 90px;
  font-family: Dancing Script,cursive;
  
}
  
.line {
  width: 70%;
  height: 4px; 
  background-color: #000; 
  margin: 0 auto; 
  margin-top: 90px;
}

#map {
  
  margin: 50px 50px 50px 50px;}
  



  
  .container1 {

    color: rgb(10, 10, 10);
    padding: 20px;
    align-items: space-between;
    justify-content: left;
    
  }
  

  .placeholder {

    width: 70%;
    margin: 0 auto;
    max-width: 900px;

  }
  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
  }
    
  .button1 {
   
    font-size: 1.5em;
    background-color: #FFFAE1;
    font-family: Dancing Script,cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #8d6d31;
    border: none;
	  width: 55%;
	  padding: 15px 10px;
	  margin: 1px 0;
	  font-size: 1.2em;
	  font-family: 'Advent Pro', sans-serif;
	  border-radius: 8px;
    color:rgb(10, 10, 10);
  }
  
  .horaire {

    
    text-align: center;

  }


  .parking {

  font-family: Dancing Script,cursive;
  text-align: center;


  }

  .pagination {

    justify-content: center;
    background-color: #0f0f0f;
    color:rgb(37, 35, 35);
  }

p, h5 {

  font-family: Dancing Script,cursive;
}

#monCarousel {

  margin: auto;
  width: 50%;
}



.carousel-item img {

width: 100%;
height: auto;

}

.cookie-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#accept-cookie {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.card {

  margin-bottom: 25px;
  box-shadow: 5px 5px 6px;

}

.badge {
  text-align: center;
  box-shadow: 5px 5px 6px;
  display:flex;
  background-color: #443f3d;
  color: #252525;
  position: center;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-block:initial;
  justify-content: center;
  align-items: center;
  
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: left;
  background-color: #f9f9f9;
  min-width: 90px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



@media (max-width: 768px) {
  .menu {
      flex-direction: column;
      align-items: center;
  }

  .list-group {
      max-width: 100%;
  }
}

/* Pour les écrans larges (desktop) */
@media (min-width: 992px) {
  .badgeTitre {
    position: absolute;
    
    left: 265px; /* Ajustez la valeur selon vos besoins */
    transform: translateY(-50%);
  }
}

/* Pour les écrans étroits (mobile) */
@media (max-width: 991px) {
  .badgeTitre {
    display: block;
    margin: 0 auto; /* Centrez horizontalement */
    text-align: center; /* Centrez le contenu du badge */
  }
}
