
body {

    background-color:#ac9b7b;
}

h1 { font-family:Arial, Helvetica, sans-serif ;
    
    font-size: 80px;
    color:rgb(51, 50, 50);
    text-shadow: 4px 4px 4px; 
}

.jumbotron {
    margin-left: 2%;
    margin-top: 3%;
    height: 220%;
    width: 95%;
    padding: 10px;
    text-align: center;
    background-color:rgb(194, 189, 189);
    font-family: Dancing Script,cursive;
    font-weight: bold;
    box-shadow: 10px 10px 4px;
  }
  
  

  
  .footerContact {      /*page contact*/
    background-color:#050505;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
  
  }
  
  form {
    margin: 0 auto;
    max-width: 900px;
    
  }
  input, textarea  {
   
    width: 20%;
    padding: 15px 10px;
    margin: 15px 0;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 50px;
    
  }  
  
  #copyrightEtIcons {
   
    margin-bottom: 20px;
    padding: 0 10%;
    
  }
  #copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
    
  }

  .list {

    background-color: #d6cbb4;
  }

.nav {

  font-family: Dancing Script,cursive;}
  
  button:hover {
    background-color: #c5a262;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .titre {
    text-shadow:6px 6px 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#0c0c0c;
    font-size:40px;
    margin-top: 110px;

  }
.parag {
  font-size: 30px;
  color:#0f0f0f;
  text-align: center;
  margin-top: 90px;
  font-family: Dancing Script,cursive;
  
}
  
.line {
  width: 70%;
  height: 4px; 
  background-color: #000; 
  margin: 0 auto; 
  margin-top: 90px;
}

#map {
  
  margin: 50px 50px 50px 50px;}
  



  
  .container1 {

    color: rgb(10, 10, 10);
    padding: 20px;
    align-items: space-between;
    justify-content: left;
    
  }
  

  .placeholder {

    width: 70%;
    margin: 0 auto;
    max-width: 900px;

  }
  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
  }
    
  .button1 {
   
    font-size: 1.5em;
    background-color: #FFFAE1;
    font-family: Dancing Script,cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #8d6d31;
    border: none;
	  width: 55%;
	  padding: 15px 10px;
	  margin: 1px 0;
	  font-size: 1.2em;
	  font-family: 'Advent Pro', sans-serif;
	  border-radius: 8px;
    color:rgb(10, 10, 10);
  }
  
  .horaire {

    
    text-align: center;

  }


  .parking {

  font-family: Dancing Script,cursive;
  text-align: center;


  }

  .pagination {

    justify-content: center;
    background-color: #0f0f0f;
    color:rgb(37, 35, 35);
  }

p, h5 {

  font-family: Dancing Script,cursive;
}

#monCarousel {

  margin: auto;
  width: 50%;
}



.carousel-item img {

width: 100%;
height: auto;

}